body {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

/* Vue */
.vue__height {
  height: 450px;
}

/* React */
.bg-react {
  background-color: #081828;
}

.react__height {
  height: 550px;
}

/* Footer */
.bg-footer {
  background-color: #081828;
}

.footer__link {
  color: #ddd;
}

/* Back to top */
.back {
  width: 54px;
  height: 54px;
  right: 10px;
  bottom: 10px;
}
