<!-- Footer -->
<div class="py-4 text-white bg-footer">
  <footer class="container pt-5">
    <div class="row py-4">
      <div class="col-md-3">
        <h2 class="mb-4">Web Develop!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="col-md-3">
        <h3 class="border-start border-3 border-primary ps-2">Pages</h3>
        <ul class="list-unstyled mt-4 ps-3">
          <li>
            <a href="#" class="text-decoration-none footer__link">Vue.js</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none footer__link">React.js</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none footer__link">Our team</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none footer__link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="border-start border-3 border-primary ps-2">More</h3>
        <ul class="list-unstyled mt-4 ps-3">
          <li>
            <a href="#" class="text-decoration-none footer__link">Vue.js</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none footer__link">React.js</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none footer__link">Our team</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none footer__link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="border-start border-3 border-primary ps-2">Posts</h3>
        <ul class="list-unstyled mt-4 ps-3">
          <li>
            <a href="#" class="text-decoration-none footer__link">Vue.js</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none footer__link">React.js</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none footer__link">Our team</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none footer__link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="text-center">
      Designed and Developed:
      <a href="#" class="text-decoration-none footer__link">Amir</a>
    </div>
  </footer>
</div>
