<!-- Posts -->
<div class="py-4">
  <section class="container">
    <h2 class="display-6 text-center mt-5">Recent posts from our blog</h2>
    <p class="lead text-center text-muted mb-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, debitis?
      Quia cum, culpa libero beatae tempora rem impedit hic eaque fugit
      inventore? Vel eligendi sequi, vitae ea placeat eius sunt!
    </p>
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow mb-3">
          <img src="img/post1.png" class="card-img-top" alt="post" />
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
            <h5 class="card-title mb-4">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </h5>
            <a href="#" class="card-text fs-6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                />
              </svg>
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow mb-3">
          <img src="img/post2.png" class="card-img-top" alt="post" />
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
            <h5 class="card-title mb-4">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </h5>
            <a href="#" class="card-text fs-6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                />
              </svg>
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow mb-3">
          <img src="img/post3.png" class="card-img-top" alt="post" />
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
            <h5 class="card-title mb-4">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </h5>
            <a href="#" class="card-text fs-6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                />
              </svg>
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
