<!-- QA -->
<div class="bg-primary py-4">
  <section class="container">
    <h2 class="display-6 text-center mt-5">Frequently asked questions</h2>
    <p class="lead text-center text-muted mb-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, debitis?
      Quia cum, culpa libero beatae tempora rem impedit hic eaque fugit
      inventore? Vel eligendi sequi, vitae ea placeat eius sunt!
    </p>
    <div class="accordion accordion-flush pb-5" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Lorem, ipsum dolor?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sit
            veritatis laboriosam? Vero, vel? Hic corporis libero natus
            laudantium sint, nostrum sit! Dolor ad ut laudantium quod distinctio
            praesentium a?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Lorem ipsum dolor sit amet?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure
            aliquam iste fugiat nihil qui quis repellat quisquam quam esse
            maxime laborum inventore, rerum modi. Natus qui repudiandae
            recusandae odit quis.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
            quas qui explicabo tempora, natus amet dolorem iure quidem ad vero
            consequatur iusto nemo quae porro autem excepturi molestias alias
            laborum!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing?
          </button>
        </h2>
        <div
          id="flush-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis,
            molestiae velit qui quae sint minima laboriosam similique! Cum
            corrupti quae doloribus, odit alias dolores? Culpa eligendi tempora
            voluptatem! Iusto, dolorum.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive"
          >
            Lorem ipsum dolor sit?
          </button>
        </h2>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum
            quo, exercitationem, qui eveniet fugit molestiae excepturi deserunt
            in ipsam corrupti vel pariatur, aut assumenda esse facilis quos
            commodi itaque illo!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseSix"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
            soluta?
          </button>
        </h2>
        <div
          id="flush-collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingSix"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem in
            assumenda, totam at a repellat soluta sit praesentium nemo quo ipsa
            consequatur ad, voluptas, dicta quis neque voluptatum perspiciatis
            qui?
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
