<!-- VueJs -->
<div class="py-4">
  <section class="container">
    <div class="row align-items-center" style="height: 450px">
      <div class="col-md-6">
        <h2 class="display-6 mb-4">
          Be <span class="text-success">Fast</span> and
          <span class="text-success">Reactive</span>
        </h2>
        <p class="lead text-muted mb-4">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, unde
          debitis dolorem iste minima quisquam.
        </p>
        <a href="#" class="btn btn-primary"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
          Read More</a
        >
      </div>
      <div class="col-md-6">
        <img src="img/vue.svg" alt="setup website" class="img-fluid" />
      </div>
    </div>
  </section>
</div>
